@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .lable-new{
        font-size : 15px;
        font-weight : bold;
        background : none;
    }
    .lable-new1{
        font-size : 15px;
        /*font-weight : bold;*/
        background : none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h2>Details</h2>
            <div>

            </div>
            <div class="row">               
                <div class="col-md-12">
                    <span class="label label-default lable-new">Name</span>
                    <span class="label label-default lable-new1" id="lblName">Sameera</span>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="label label-default lable-new">Address</span>
                    <span class="label label-default lable-new1" id="lblAddress">Kurunegala</span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="label label-default lable-new">Contact Number</span>
                    <span class="label label-default lable-new1" id="lblContNum">0717116459</span>
                </div>

            </div>
        </div>
        @* Bank Details *@
            <div class="col-md-7">
                <h2>Bank Details</h2>
                <table class="table table-responsive table-bordered dataTable text-center">
                    <thead>
                        <tr style="font-weight: bold" class="bg-blue">
                            <th>Bank Name</th>
                            <th>Account Number</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="tb_BankDetails" style="font-weight: bold; color: white"></tbody>
                </table>
            </div>
        @* Available Share Details *@
        <div class="col-md-7">
            <h2>Available Share Details</h2>
            <table class="table table-responsive table-bordered dataTable text-center">
                <thead>
                    <tr style="font-weight: bold" class="bg-blue">
                        <th>Category</th>
                        <th>Company Name</th>
                        <th>Share Quntity</th>
                        <th>Get Price</th>
                        <th>Current Price</th>
                    </tr>
                </thead>
                <tbody id="tb_ShareDetails" style="font-weight: bold; color: white"></tbody>
            </table>
        </div>
        @* Share History Details *@
        <div class="col-md-7">
            <h2>Share History Details</h2>
            <table class="table table-responsive table-bordered dataTable text-center">
                <thead>
                    <tr style="font-weight: bold" class="bg-blue">
                        <th>Category</th>
                        <th>Company Name</th>
                        <th>Share Quntity</th>
                        <th>Get Price</th>
                        <th>Sell Price</th>
                    </tr>
                </thead>
                <tbody id="tb_HistoryDetails" style="font-weight: bold; color: white"></tbody>
            </table>
        </div>
        
    </div>
</div>

<script id="tb_BankDetails" type="text/html">
    <tr>
        <td>{{Date}}</td>
        <td>{{FLTID}}</td>
        <td>{{DEP}}</td>
        <td>{{ARR}}</td>
    </tr>
</script>

<script id="tb_ShareDetails" type="text/html">
    <tr>
        <td>{{Date}}</td>
        <td>{{FLTID}}</td>
        <td>{{DEP}}</td>
        <td>{{ARR}}</td>
    </tr>
</script>

<script id="tb_HistoryDetails" type="text/html">
    <tr>
        <td>{{Date}}</td>
        <td>{{FLTID}}</td>
        <td>{{DEP}}</td>
        <td>{{ARR}}</td>
    </tr>
</script>
