@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .lable-new {
        font-size: 20px;
        font-weight: bold;
        background: none;
    }

    .lable-new1 {
        font-size: 20px;
        /*font-weight : bold;*/
        background: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span class="label label-default lable-new">Profit</span>
            <span class="label label-default lable-new1" id="lblGame_Profit">100</span>
        </div>
        <div class="col-md-3">
            <span class="label label-default lable-new">Name</span>
            <span class="label label-default lable-new1" id="lblGame_Name">Sameera</span>
        </div>
        <div class="col-md-3">
            <span class="label label-default lable-new">Time</span>
            <span class="label label-default lable-new1" id="lblGame_Time">10.30</span>
        </div>
        <div class="col-md-3">
            <span class="label label-default lable-new">Round</span>
            <span class="label label-default lable-new1" id="lblGame_Round">1</span>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <h3>Stock History Chart</h3>
            <div class="card-body">
                <div class="chart">
                    <canvas id="lineChart" style="height:250px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-bullhorn"></i>
                            Callouts
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="callout callout-danger">
                            <h5>I am a danger callout!</h5>
                            <p>
                                There is a problem that we need to fix. A wonderful serenity has taken possession of my entire
                                soul,
                                like these sweet mornings of spring which I enjoy with my whole heart.
                            </p>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    @* Share Increse Details Table *@
    <div class="row">

        <div class="col-md-6">
            <div class="col-md-11">
                <h3>Share Increse</h3>
                <table class="table table-responsive table-bordered dataTable text-center">
                    <thead>
                        <tr style="font-weight: bold" class="bg-blue">
                            <th>Category</th>
                            <th>Company Name</th>
                            <th>Past Price</th>
                            <th>Current Price</th>

                        </tr>
                    </thead>
                    <tbody id="tb_SharePriceDetails" style="font-weight: bold; color: white"></tbody>
                </table>
            </div>
        </div>
        @* My Share *@
        <div class="col-md-6">
            <div class="col-md-11">
                <h3>My Share</h3>
                <table class="table table-responsive table-bordered dataTable text-center">
                    <thead>
                        <tr style="font-weight: bold" class="bg-blue">
                            <th>Category</th>
                            <th>Company Name</th>
                            <th>Get Price</th>
                            <th>Availble Quntity</th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody id="tb_MyShareDetails" style="font-weight: bold; color: white"></tbody>
                </table>
                <div class="col-lg-3 col-md-3">
                    <input type="button" id="btnSelling" value="Sell" class="btn btn-success" style="width: 90%" />
                </div>
            </div>
        </div>
    </div>
    @* Market price *@
    <div class="row">

        <div class="col-md-6">
            <div class="col-md-11">
                <h3>Market Price</h3>
                <table class="table table-responsive table-bordered dataTable text-center">
                    <thead>
                        <tr style="font-weight: bold" class="bg-blue">
                            <th>Category</th>
                            <th>Company Name</th>
                            <th>Share Quntity</th>
                            <th>Share Price</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="tb_MarketPriceDetails" style="font-weight: bold; color: white"></tbody>
                </table>
            </div>
            <div class="col-lg-3 col-md-3">
                <input type="button" id="btnBuying1" value="Buying" class="btn btn-success" style="width: 90%" />
            </div>
        </div>



        @* Palyers Market *@


        <div class="col-md-6">
            <div class="col-md-11">
                <h3>Palyers Market</h3>
                <table class="table table-responsive table-bordered dataTable text-center">
                    <thead>
                        <tr style="font-weight: bold" class="bg-blue">
                            <th>Companys Category</th>
                            <th>Company Name</th>
                            <th>Share Quntity</th>
                            <th>Share Price</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="tb_PalyerMarketPriceDetails" style="font-weight: bold; color: white"></tbody>
                </table>
            </div>
            <div class="col-lg-3 col-md-3">
                <input type="button" id="btnBuying" value="Buying" class="btn btn-success" style="width: 90%" />
            </div>
        </div>

    </div>
</div>

<script id="tb_SharePriceDetails" type="text/html">
    <tr>
        <td>{{Date}}</td>
        <td>{{FLTID}}</td>
        <td>{{DEP}}</td>
        <td>{{ARR}}</td>
    </tr>
</script>

<script id="tb_MarketPriceDetails" type="text/html">
    <tr>
        <td>{{Date}}</td>
        <td>{{FLTID}}</td>
        <td>{{DEP}}</td>
        <td>{{ARR}}</td>
    </tr>
</script>

<script id="tb_PalyerMarketPriceDetails" type="text/html">
    <tr>
        <td>{{Date}}</td>
        <td>{{FLTID}}</td>
        <td>{{DEP}}</td>
        <td>{{ARR}}</td>
    </tr>
</script>

<script id="tb_MyShareDetails" type="text/html">
    <tr>
        <td>{{Date}}</td>
        <td>{{FLTID}}</td>
        <td>{{DEP}}</td>
        <td>{{ARR}}</td>
    </tr>
</script>





@section scripts{
    <script src="~/Scripts/PgeScripts/Selling.js" type="text/javascript"></script>
    <script src="~/Scripts/PgeScripts/Buying.js" type="text/javascript"></script>
}