@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2>login</h2>
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">User Name</span>
                        <input type="text" id="txtLgUserName" class="form-control" placeholder="UserName" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Password</span>
                        <input type="text" id="txtLgPassword" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
            </div><div class="row">
                <div class="col-lg-3 col-md-3">
                    <input type="button" id="btnLogin" value="Login" class="btn btn-success" style="width: 90%" />
                </div>
                      <div class="col-lg-3 col-md-3">
                          <input type="button" id="btnClear" value="Clear" class="btn btn-success" style="width: 90%" />
                      </div>
            </div>
        </div>
        @*SingUp*@
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2>SingUp</h2>
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">User Name</span>
                        <input type="text" id="txtRgUserName" class="form-control" placeholder="User Name" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Email</span>
                        <input type="text" id="txtRgEmail" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Password</span>
                        <input type="text" id="txtRgPassword" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Confirm Password</span>
                        <input type="text" id="txtRgCmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Bank Name</span>
                        <input type="text" id="txtBankName" class="form-control" placeholder="Bank Name" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Account Number</span>
                        <input type="text" id="txtAccountNo" class="form-control" placeholder="Account Number" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <input type="button" id="btnRegister" value="Register" class="btn btn-success" style="width: 90%" />
                </div>
                <div class="col-lg-3 col-md-3">
                    <input type="button" id="btnCancel" value="Cancel" class="btn btn-success" style="width: 90%" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/PgeScripts/Loging.js" type="text/javascript"></script>
}